.motto {
  width: 100vw;
  padding: 100px 0 100px 0;
}

.motto__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.motto__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-size: 32px;
  font-family: "Pretendard-Regular";
  color: #757575;
  font-weight: 600;
}
.next {
  margin-top: 50px;
}

.hasblack {
  color: black;
}
