.list {
  display: flex;
  gap: 10px;

  width: fit-content;

  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.box > div > i {
  display: flex;
  justify-content: center;
  align-items: center;
}
