.ediya {
  width: 440px;
  margin-bottom: 10px;

  text-align: center;

  padding-top: 29px;
  padding-bottom: 29px;

  border-radius: 5px;

  font-weight: 800;
  font-size: 18px;
  background-color: #2a47bf;
  color: white;
}

.kakao {
  width: 440px;
  margin-bottom: 10px;

  text-align: center;

  padding-top: 29px;
  padding-bottom: 29px;

  border-radius: 5px;

  font-weight: 800;
  font-size: 18px;
  background-color: #fee500;
  color: #391b1b;
}

.naver {
  width: 440px;
  margin-bottom: 10px;

  text-align: center;

  padding-top: 29px;
  padding-bottom: 29px;

  border-radius: 5px;

  font-weight: 800;
  font-size: 18px;
  background-color: #03c75a;
  color: white;
}

.starbucks {
  width: 440px;
  margin-bottom: 10px;

  text-align: center;

  padding-top: 29px;
  padding-bottom: 29px;

  border-radius: 2px;

  font-weight: 800;
  font-size: 18px;
  background-color: #006633;
  color: white;
}

.button {
  width: 70px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #b3b1b1;
  color: rgb(107, 105, 105);
}

.Btn {
  width: 100px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #288b11;
  color: white;
}
